.App {
  text-align: center;
  max-width: 512px;
  margin: 0 auto;
}

.item {
  position: relative;
  border: 1px solid red;
  height: 100px;
  vertical-align: top;
  width: 100% !important;
  /* flex: 0 0 25%; */
  /* max-width: 25%; */
  box-sizing: border-box;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ReactVirtualized__List {
  /* border: 5px solid orange !important; */
}
